/*h1{
    color: rgb(253, 253, 253);

}

div{
    background-color: #0b79397b;


}
main{
    background-color: rgba(12, 114, 51, 0.542);

}

div{
    background-color: rgba(4, 83, 11, 0.553));

}

.colorFondo{
    background-color: rgba(0, 126, 61, 0.464);

}

#idColorFondo{
    background-color: rgba(59, 168, 5, 0.501);
}
*

<script src="https://kit.fontawesome.com/1b41156172.js" crossorigin="anonymous"></script>


            <div>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> </a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i> </a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i> </a>
            </div>


















/*#idcolorfondo{
    background-color: rgba(215, 84, 206, 0.93);


}

 .colorfondo{
    background-color: rgb(39, 201, 101);
    
    }
 div{
    background-color: rgba(228, 80, 22, 0.667);
        
    }
main div{
    background-color: rgb(143, 50, 201);
}
.seccionMain .contenedorVideo{

    background-color: rgb(226, 43, 141);
}
*